html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#1d2821, #1d2128);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.inner-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.inner-form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.inner-form .error {
    margin: 0 0 30px;
    padding: 0;
    color: #ee6055;
    text-align: center;
}

.inner-form .form-input {
    position: relative;
}

.inner-form .form-input input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.inner-form .form-input label {
    position: absolute;
    top: -20px;
    left: 0;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(
            to right, #6ce972, #ccff33
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.inner-form input[type=submit] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;

    font-size: 16px;
    color: #fff;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(#1d2821, #1d2128);

    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 35px;
    margin-left: 15px;
    letter-spacing: 4px;
    border-radius: 15px;
    border-color: #6ce972;
}

.inner-form input[type=submit]:hover {
    background: linear-gradient(#304538, #2b3834);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #56e304,
    0 0 8px #56e304,
    0 0 25px #56e304,
    0 0 60px #56e304;
}

.inner-form button[name=register] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;

    font-size: 16px;
    color: #fff;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(#1d2821, #1d2128);

    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 35px;
    margin-left: 15px;
    letter-spacing: 4px;
    border-radius: 15px;
    border-color: #6ce972;
}

.inner-form button[name=register]:hover {
    background: linear-gradient(#304538, #2b3834);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #56e304,
    0 0 8px #56e304,
    0 0 25px #56e304,
    0 0 60px #56e304;
}