.logo-row {
    text-align: center;
    display : block;
    margin : 0 auto;
}

.logo-corner {
    text-align: left;
    display : block;
    margin : 0 auto;
    position: absolute;
    left: 90%;
    top: 50px;
}

.logo {
    width: 80px;
    height: 60px;
    text-align: center;
}

.logo-small {
    width: 40px;
    height: 30px;
    text-align: center;
}

h1 {
    font-size: 4vmin;
    line-height: 1.3;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(
            to right, #6ce972, #ccff33
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h2 {
    font-size: 3vmin;
    line-height: 1.3;
    font-family: "Dank Mono", ui-monospace, monospace;
    color: #fff;
    text-align: center;
}

h3 {
    font-size: 2vmin;
    line-height: 0.8;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(
            to right, #80ff90, #80ff90, #ccff33, #ccff33
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h4 {
    font-size: 1.5vmin;
    line-height: 1;
    font-family: "Dank Mono", ui-monospace, monospace;
    color: #fff;
    text-align: center;
}

html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#1d2821, #1d2128);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.log-out {
    left: 75%;
}

.header-button {
    position: absolute;
    top: 45px;
    display: inline-block;
    padding: 10px 15px;

    font-size: 12px;
    color: #fff;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(#1d2821, #1d2128);
    box-shadow: 0 10px 15px rgb(47, 104, 38, 0.60);

    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 12px;
    border-color: #6ce972;
}

.header-button:hover {
    background: linear-gradient(#304538, #2b3834);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #56e304,
    0 0 8px #56e304,
    0 0 25px #56e304,
    0 0 60px #56e304;
}

.search-box {
    width: 500px;
    position: relative;
    top: 5%;
    /* left: 15%; */
    height: 1%;
    padding: 20px;
    margin: auto;
    
}

.search-box input {
    background: linear-gradient(#1d2821, #1d2128);
    box-shadow: 0 10px 15px rgb(47, 104, 38, 0.60);
    box-sizing: border-box;
    border-radius: 20px;
}

.search-box .user-box .tweet-box {
    position: relative;
}

.search-box .user-box .tweet-box input {
    position: absolute;
    width: 100%;
    padding: 8px 0;
    height: 5%;
    top: 5%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #6ce972;
    outline: none;
    background: transparent;
}

.search-box .user-box label {
    position: absolute;
    top: -20px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    text-align: center;
}

.search-box .user-box input:focus ~ label,
.search-box .user-box input:valid ~ label {
    top: -30px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.search-box input[type=submit] {
    position: absolute;
    top: 0;
    left: 100%;
    display: inline-block;
    padding: 10px 20px;

    font-size: 16px;
    color: rgb(235, 18, 18);
    line-height: 1;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(#1d2821, #1d2128);
    box-shadow: 0 10px 15px rgb(47, 104, 38, 0.60);

    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 20px;
    border-color: #6ce972;
}

.search-box input[type=submit]:hover {
    background: linear-gradient(#304538, #2b3834);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #56e304,
    0 0 8px #56e304,
    0 0 25px #56e304,
    0 0 60px #56e304;
}

.search-box button {
    /* top: 40px; */
    float: right;
    padding: 5px;
    position: relative;
    margin-right: 15px;
    display: inline;
    background: linear-gradient(#1d2821, #1d2128);
    box-shadow: 0 10px 15px rgb(47, 104, 38, 0.20);
    color: #56e304;
    overflow: hidden;
    transition: .5s;
    border-radius: 12px;
    border-color: #6ce972;
    margin-top: 9px;
}

.search-box button:hover {
    background: linear-gradient(#304538, #2b3834);
    border-radius: 5px;
    box-shadow: 0 0 5px #56e304,
    0 0 8px #56e304,
    0 0 25px #56e304,
    0 0 60px #56e304;
}

.search-box input {
    width: 83%;
    padding: 10px;

    display: inline-block;

    font-size: 16px;
    color: #80ff90;
    line-height: 1;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(#1d2821, #1d2128);
    box-shadow: 0 10px 15px rgb(47, 104, 38, 0.60);

    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 20px;
    border-color: #6ce972;
}

.tweet-box textarea {
    height: 80px;
    width: 80%;
    padding: 10px;

    display: inline-block;

    font-size: 16px;
    color: #80ff90;
    line-height: 1;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(#1d2821, #1d2128);
    box-shadow: 0 10px 15px rgb(47, 104, 38, 0.60);

    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 20px;
    border-color: #6ce972;
    resize: none;
}

.tweet-box button {
    margin-top: 35px;
}


.post {
    position: relative;
    left: 50%;
    width: 850px;
    /*TODO: FIX THIS*/
    height: 160px;
    padding-left: 50px;
    padding-top: 10px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin-top: 100px;
}

.post .header-info label {
    position: absolute;
    top: 10px;
    left: 30px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    text-align: center;
}

.post .header-info p {
    position: relative;
    top: 30px;
    width: 600px;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    text-align: left;
}

.post-image {
    text-align: left;
    display : block;
    margin : 0 auto;
    position: relative;
    top: 40px;
    left: 38%;
}

/*TODO:*/
.post-img img {
    width: 150px;
    height: 150px;
    /*background: linear-gradient(#1d2821, #1d2128);*/
    background: white;
}

.post .bottom-section p {
    position: relative;
    top: 30px;
    padding: 10px 10px;
    font-size: 14px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    text-align: left;
    display: inline;
    float: right;
}

.bottom-section button {
    top: 40px;
    float: right;
    padding-top: 5px;
    position: relative;
    margin-right: 15px;
    display: inline;
    background: linear-gradient(#1d2821, #1d2128);
    box-shadow: 0 10px 15px rgb(47, 104, 38, 0.20);
    color: #56e304;
    overflow: hidden;
    transition: .5s;
    border-radius: 12px;
    border-color: #6ce972;
}

.bottom-section button:hover {
    background: linear-gradient(#304538, #2b3834);
    border-radius: 5px;
    box-shadow: 0 0 5px #56e304,
    0 0 8px #56e304,
    0 0 25px #56e304,
    0 0 60px #56e304;
}

.bottom-section img {
    width: 20px;
    height: 20px;
}

.comment-box {
    top: 73px;
    position: relative;
    left: 45%;
    width: 250px;
    height: 30px;
    background: linear-gradient(#1d2821, #1d2128);
    box-shadow: 0 10px 15px rgb(47, 104, 38, 0.20);
    box-sizing: border-box;
    border-radius: 20px;
}

.comment-box input[type=text] {
    position: absolute;
    margin-left: 5%;
    width: 210px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #6ce972;
    outline: none;
    background: transparent;
}

.comment-box label {
    position: relative;
    margin-left: 7%;
    font-size: 14px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    line-height: 1.1;
    font-family: "Dank Mono", ui-monospace, monospace;
    text-align: center;

    background: linear-gradient(
            to right, #80ff90, #80ff90, #ccff33, #ccff33
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.comment-box input:not(:placeholder-shown) ~ label {
    font-size: 0px;
}

.comment-box input[type=submit] {
    position: absolute;
    left: 100%;
    display: inline-block;
    padding: 7px 7px;

    font-size: 12px;
    color: #fff;
    line-height: 1;
    font-family: "Dank Mono", ui-monospace, monospace;
    background: linear-gradient(#1d2821, #1d2128);
    box-shadow: 0 10px 15px rgb(47, 104, 38, 0.20);

    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border-radius: 20px;
    border-color: #6ce972;
}

.comment-box input[type=submit]:hover {
    background: linear-gradient(#304538, #2b3834);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #56e304,
    0 0 8px #56e304,
    0 0 25px #56e304,
    0 0 60px #56e304;
}

.butonckik-home button{
    background-color: transparent;
    border: none;

    margin: 10px;


    width: 100px;
    height: 100px;

    border-radius: 50px;
 

}

.butonckik-home img {
    width: 60px;
}

.butonckik-home button:hover {
    background-color: rgba(255, 255, 255, 0.1);

}

.del-button {
    padding: 5px;
}
